@tailwind base;
@tailwind components;
@tailwind utilities;

.star-item {
    display: inline-block;
    margin-bottom: 4px;
}

/* input range is created by slider track and slider thumb */
/* set CSS for slider track (thanh độ dài của phạm vi kéo) */
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
    margin: 0 -4px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
    margin: 0 -4px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
    margin: 0 -4px;
}

/* set CSS for slider thumb (điểm chấm tròn biểu diễn giá trị) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border: solid 1px #ccc;
    border-radius: 50%;
    background-color: white;
    margin-top: -0.6rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 2rem;
    height: 2rem;
    border: solid 1px #ccc;
    border-radius: 50%;
    background-color: white;
    margin-top: -0.6rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: solid 1px #ccc;
    border-radius: 50%;
    background-color: white;
    margin-top: -0.6rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
    border: solid 1px rgb(144, 211, 255);
}

input[type="range"]::-moz-range-thumb:active {
    border: solid 1px rgb(144, 211, 255);
}

input[type="range"]::-ms-thumb:active {
    border: solid 1px rgb(144, 211, 255);
}